# Widened so radial slots can trigger F3 debug functions (1.21.1 signatures).
public net.minecraft.client.KeyboardHandler handleDebugKeys(I)Z
public net.minecraft.client.KeyboardHandler handleChunkDebugKeys(I)Z
